[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
flake8 = "*"
tox = "*"
twine = "*"
black = "*"

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
